streamlit
langchain
langchain-groq
langchain-community
langchain-huggingface
langgraph
sentence-transformers
langchain-text-splitters
PyPDF2
torchvision
beautifulsoup4
requests
python-docx
pymongo
langchain-mongodb